.main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 90vh;
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;

}

.description h1 {
  color: #09f;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.description h2 {
  color: #09f;
  font-size: 18px;
  margin-bottom: 16px;
  
}

.description a {
  color: #09f;
}

.imagen {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.imagenAva{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.imagenAva>div:first-child{
    margin-right: 1rem;
}

.imagenAva>div:last-child{
    margin-left: 1rem;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.username {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #000;
}

/* mobile */
@media (max-width: 700px) {
  .main {
    height: 100vh;
    width: 100%;
    
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .main {
    width: 800px;
  }

  .description {
    font-size: 20px;
  }
}