
.envia{
  display: flex;
  flex: 1; 
}


.article {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  color: #333;
  width: 450px;
}

.article div {
  padding-right: 10px;
}

.article p {
  line-height: 1.3125;
  margin: 0;
  color: #333;
}

.article span{
  font-size: 14px;
  color: #828282;
}
.img{
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}