.main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 800px;
  overflow-y: auto;
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  }

.section{
  padding: 49px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.envia{
  display: flex;
  flex: 1; 
  color: black;
}